[%- USE env = EnvHash -%]
[%- MACRO schema(name) BLOCK -%]
  [%- name || env.SQITCH_DEFAULT_SCHEMA -%]
[%- END -%]
-- Deploy [% project %]:[% change %] to [% engine %]
[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

BEGIN;

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?func(?:tions)?/(.*?)$')) -%]

[%- IF (matches.1.match('_trigger$')) -%]

CREATE FUNCTION [% schema(matches.0) %].[% matches.1 %]()
  RETURNS TRIGGER AS
$BODY$
BEGIN

  -- Stop something from happening or something.
  IF [% schema(matches.0) %].some_function(NEW.id) = FALSE THEN
    RAISE EXCEPTION 'oh no!';
  END IF;

  RETURN NEW;

END;
$BODY$ LANGUAGE plpgsql VOLATILE SECURITY DEFINER;

COMMENT ON FUNCTION [% schema(matches.0) %].[% matches.1 %]() IS
'A nice trigger function comment.';

CREATE TRIGGER [% schema(matches.0) %]_[% matches.1 %]
  BEFORE UPDATE ON [% schema(matches.0) %].table FOR EACH ROW
    WHEN (OLD.random_number IS NOT DISTINCT FROM NEW.random_number)
    EXECUTE PROCEDURE [% schema(matches.0) %].[% matches.1 %]();

CREATE TRIGGER [% schema(matches.0) %]_[% matches.1 %]
  AFTER DELETE OR INSERT OR UPDATE ON [% schema(matches.0) %].table
    FOR EACH ROW
    EXECUTE PROCEDURE [% schema(matches.0) %].[% matches.1 %]();

CREATE TRIGGER [% schema(matches.0) %]_[% matches.1 %]
  AFTER INSERT ON [% schema(matches.0) %].table
    REFERENCING NEW TABLE AS changedrecords
    FOR EACH STATEMENT
    EXECUTE PROCEDURE [% schema(matches.0) %].[% matches.1 %]();

CREATE TRIGGER [% schema(matches.0) %]_[% matches.1 %]
  AFTER UPDATE ON [% schema(matches.0) %].table
    REFERENCING NEW TABLE AS changedrecords
    FOR EACH STATEMENT
    EXECUTE PROCEDURE [% schema(matches.0) %].[% matches.1 %]();

CREATE TRIGGER [% schema(matches.0) %]_[% matches.1 %]
  AFTER DELETE ON [% schema(matches.0) %].table
    REFERENCING OLD TABLE AS changedrecords
    FOR EACH STATEMENT
    EXECUTE PROCEDURE [% schema(matches.0) %].[% matches.1 %]();

COMMENT ON TRIGGER [% schema(matches.0) %]_[% matches.1 %] ON [% schema(matches.0) %].table IS
'Some description about a trigger.';

[%- ELSE -%]

CREATE FUNCTION [% schema(matches.0) %].[% matches.1 %]
(
  p_id UUID,
  p_datetime TIMESTAMP WITH TIME ZONE DEFAULT [% schema(matches.0) %].some_function()
)
RETURNS boolean
LANGUAGE 'plpgsql'
SECURITY DEFINER
  AS
$BODY$
BEGIN

END;
$BODY$;

CREATE FUNCTION [% schema(matches.0) %].[% matches.1 %](in p_arg1 uuid, in p_arg3 timestampts, out some_name uuid)
  AS
$SQL$

  SELECT
    id
  FROM
    [% schema(matches.0) %].some_table
  WHERE
    id = $1;

$SQL$
LANGUAGE SQL
IMMUTABLE
SECURITY DEFINER;

COMMENT ON FUNCTION [% schema(matches.0) %].[% matches.1 %](uuid, timestamptz) IS
'A nice function comment.';

[%- END -%]

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?roles/(.*?)$')) -%]

-- https://www.postgresql.org/docs/current/sql-createrole.html
CREATE ROLE [% matches.1 %] IN ROLE foo;

COMMENT ON ROLE [% matches.1 %] IS
'A nice role comment. User must be superuser or have `CREATEROLE` privilege.';

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?schemas/(.*?)$')) -%]

DO $$ BEGIN PERFORM create_new_schema('[% matches.1 %]'); END $$;

COMMENT ON SCHEMA [% matches.1 %] IS
'[% note %]';

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?tables\/(.*?)(_add.*|_alter.*|_repair.*|_refactor.*)?$')) -%]

CREATE TABLE [% schema(matches.0) %].[% matches.1 %] (
  id UUID DEFAULT public.gen_random_uuid() NOT NULL,
  name CITEXT NOT NULL,
  description TEXT,
  rstatus [% schema(matches.0) %].rstatus DEFAULT 'active'::[% schema(matches.0) %].rstatus NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL,
  created_by UUID,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() NOT NULL,
  updated_by UUID,
  PRIMARY KEY (id),
  UNIQUE (name),
  FOREIGN KEY (created_by) REFERENCES [% schema(matches.0) %].users (id)
    ON UPDATE CASCADE ON DELETE RESTRICT,
  FOREIGN KEY (updated_by) REFERENCES [% schema(matches.0) %].users (id)
    ON UPDATE CASCADE ON DELETE RESTRICT
);

[%- comment_entity = (matches.0 || env.SQITCH_DEFAULT_SCHEMA) _ '.' _ matches.1 -%]

COMMENT ON TABLE [% comment_entity %] IS
'Describe the table as concisely as practical.';

COMMENT ON COLUMN [% comment_entity %].name IS
'The name displayed on the frontend. This is predominantly presentational.';

COMMENT ON COLUMN [% comment_entity %].description IS
'The case description displayed on the frontend. This is predominantly presentational.';

COMMENT ON COLUMN [% comment_entity %].rstatus IS
'The status of the record. One of `active`, `inactive`, or `deleted`.';

[%- IF (submatches = change.match('.*?_alter_(.*)_(?:add|and|as|to).*')) %]
ALTER TABLE [% matches.0 || env.SQITCH_DEFAULT_SCHEMA %].[% matches.1 %]
  ALTER column [% submatches.0 || 'foo' %] DROP NOT NULL;
[%- END -%]

ALTER TABLE [% matches.0 || env.SQITCH_DEFAULT_SCHEMA %].[% matches.1 %]
  ALTER COLUMN [% submatches.0 || 'foo' %] SET DEFAULT 'hangup';

[%- IF (submatches = change.match('.*?_(?:add)_(.*)')) %]
ALTER TABLE [% matches.0 || env.SQITCH_DEFAULT_SCHEMA %].[% matches.1 %]
  ADD COLUMN [% submatches.0 || 'foo' %] integer NOT NULL
    GENERATED ALWAYS AS IDENTITY (START WITH 100);

COMMENT ON COLUMN [% comment_entity %].[% submatches.0 || 'foo' %] IS
'A nice comment for a column.';
[%- END -%]

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?triggers/(.*?)$')) -%]

CREATE FUNCTION [% schema(matches.0) %].[% matches.1 %]() RETURNS TRIGGER AS
$BODY$
BEGIN

  -- Stop something from happening or something.
  IF [% schema(matches.0) %].some_function(NEW.id) = FALSE THEN
    RAISE EXCEPTION 'oh no!';
  END IF;

  RETURN NEW;

END;
$BODY$
LANGUAGE 'plpgsql';

CREATE TRIGGER trg_some_table_iu
  BEFORE INSERT OR UPDATE ON [% schema(matches.0) %].some_table
    FOR EACH ROW
    WHEN (
      NEW.foo = 'bar'
    )
    EXECUTE PROCEDURE [% schema(matches.0) %].trg_some_table();

COMMENT ON TRIGGER trg_some_table_iu ON [% schema(matches.0) %].some_table IS
'Some description about a trigger.';

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?types/(.*?)$')) -%]

CREATE TYPE [% schema(matches.0) %].[% matches.1 %] AS ENUM (
  'foo',
  'bar',
  'baz'
);

COMMENT ON TYPE [% schema(matches.0) %].[% matches.1 %] IS
'Nice comment about a type.';

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?users/(.*?)(_alter.*)$')) -%]

-- https://www.postgresql.org/docs/current/sql-createrole.html
CREATE USER [% matches.1 %] WITH
  SUPERUSER
  CREATEDB
  INHERIT
  LOGIN
  REPLICATION
  BYPASSRLS
  CONNECTION LIMIT 1
  PASSWORD ''
  VALID UNTIL 'timstamptz'
  ;

ALTER USER [% matches.1 %] WITH BYPASSRLS;

[%- END -%]

COMMIT;
