# https://github.com/durdn/cfg/blob/master/.gitconfig
# http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
[alias]
    f  = "!git ls-files | grep -i"
    fl = log -u
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lg = log --pretty=format:'%Cred%h %C(green)(%cr)%Creset %C(blue)%aN%n%s%n%b' --graph --color=always
