[%- USE env = EnvHash -%]
[%- MACRO schema(name) BLOCK -%]
  [%- name || env.SQITCH_DEFAULT_SCHEMA -%]
[%- END -%]
-- Verify [% project %]:[% change %] on [% engine %]

BEGIN;

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?functions/(.*?)$')) -%]

SELECT has_function_privilege('[% schema(matches.0) %].[% matches.1 %]()', 'execute');
SELECT has_function_privilege('[% schema(matches.0) %].[% matches.1 %](uuid)', 'execute');

-- https://www.postgresql.org/docs/12/infoschema-routines.html
SELECT
  1 / (COUNT(*) = 0)::INTEGER -- does not exist
  1 / (COUNT(*) = 1)::INTEGER -- exists
  1 / (COUNT(*) = 2)::INTEGER -- 2 exist
FROM
  information_schema.routines
WHERE
  routine_schema = '[% schema(matches.0) %]' AND
  routine_name = '[% matches.1 %]' AND
  data_type = 'uuid'; -- function return type

SELECT
  1 / (COUNT(*) = 0)::INTEGER -- does not exist
  1 / (COUNT(*) = 1)::INTEGER -- exists
  1 / (COUNT(*) = 2)::INTEGER -- 2 exist
FROM
  pg_trigger
WHERE
  NOT tgisinternal
  AND tgrelid = '[% schema(matches.0) %].table'::regclass
  AND tgname = '[% matches.1 %]';

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?schemas/(.*?)$')) -%]

SELECT pg_catalog.has_schema_privilege('[% matches.1 %]', 'usage');

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?roles/(.*?)$')) -%]

-- Will raise an error if this role does not exist (fulfilling verify)
SET LOCAL ROLE [% matches.1 %];

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?tables\/(.*?)(_add.*|_alter.*|_repair.*|_refactor.*)?$')) -%]

SELECT * FROM [% schema(matches.0) %].[% matches.1 %] WHERE false;

[%- IF (submatches = change.match('.*?_(?:add)_(.*)')) %]
SELECT [% submatches.0 || 'foo' %] FROM [% schema(matches.0) %].[% matches.1 %] WHERE FALSE;

[%- END -%]

SELECT
  1 / (COUNT(*) = 1)::INTEGER
FROM
  information_schema.columns
WHERE
  table_schema = '[% schema(matches.0) %]'
  AND table_name = '[% matches.1 %]'
  AND column_name = 'foo'
  AND is_nullable = 'YES';

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?triggers/(.*?)$')) -%]

SELECT has_function_privilege('[% schema(matches.0) %].[% matches.1 %]()', 'execute');
SELECT has_function_privilege('[% schema(matches.0) %].[% matches.1 %](uuid)', 'execute');

SELECT
  1/count(*) -- 1 exists
  1/(count(*) = 2)::integer -- 2 exist
FROM
  pg_trigger
WHERE
  NOT tgisinternal
  AND tgrelid = '[% schema(matches.0) %].some_table'::regclass
  AND tgname IN (
    '[% schema(matches.0) %]_some_table_insert_trigger',
    '[% schema(matches.0) %]_some_table_update_trigger'
  );

-- https://www.postgresql.org/docs/12/infoschema-routines.html
SELECT
  1/(COUNT(*) = 0)::integer
FROM
  information_schema.routines
WHERE
  routine_schema = '[% schema(matches.0) %]' AND
  routine_name = 'some_function_name' AND
  data_type = 'trigger'; -- function return type

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?types/(.*?)$')) -%]

SELECT
  1/count(*) -- exists
FROM
  pg_type
WHERE
  typname = '[% matches.1 %]' AND
  typnamespace = (select oid from pg_namespace where nspname = '[% schema(matches.0) %]');

[%- END -%]

[%-#---------------------------------------------------------------------------%]
[%- IF (matches = change.match('^(?:(.*?)\/)?users/(.*?)(_alter.*)$')) -%]

SET LOCAL role TO [% matches.1 %];

[%- END -%]

ROLLBACK;
